
*.o
*.dll
inst/.DS_Store
inst/extdata/.DS_Store
.DS_Store
.Rproj.user
src/SmokingHistoryGenerator.so
src/wrapper_backup.xcpp
.Rhistory
/out
.RDataTmp
SHG_multi.out
/..Rcheck
/SmokingHistoryGenerator.Rcheck
SmokingHistoryGenerator_*.Rcheck
SmokingHistoryGenerator_0.0.1.tar.gz
/tests/inputs
/tests/outputs
*.gz
/.venv
/R-sandbox
/tmp
