useDynLib(SmokingHistoryGenerator, .registration=TRUE)
import(methods)
import(Rcpp)
exportPattern("^[[:alpha:]]+")
export(shg_load_params)
export(shg_params_cache_dir)
export(shg_clear_params_cache)
export(shg_config_bundle)
export(shg_load_config)
export(shg_use_config_bundle)
export(shg_save_config)
export(shg_run)
